<!-- <div class="list-group">
  <a *ngFor="let post of posts" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{post.title}}</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">{{post.description}}</p>
    <small>read more...</small>
  </a>
</div> -->

<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Content</th>
    <th>Post time</th>
  </tr>
  <tr *ngFor="let post of posts">
  <!-- <tr> -->
    <td>
      {{ post.ID }}
    </td>
    <td>
      {{ post.title }}
    </td>
    <td>
      {{ post.content }}
    </td>
    <td>
      {{ post.posttime }}
    </td>
  </tr>
</table>
<!-- <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="p = $event"></pagination-controls> -->
